<footer class="site-footer">
    <div class="footer-content">
        <p>Email: <a href="mailto:info@2fate.com">info@2fate.com</a></p>
        <p>SĐT: <a href="tel:0123456789">0123 456 789</a></p>
        <p>&copy; 2025 2FATE MOTOR. All rights reserved.</p>
    </div>
</footer>